/* Color Theme Swatches in Hex */
.Bloggy-Gradient-Blues-1-hex {
    color: #E1E6FA;
}

.Bloggy-Gradient-Blues-2-hex {
    color: #C4D7ED;
}

.Bloggy-Gradient-Blues-3-hex {
    color: #ABC8E2;
}

.Bloggy-Gradient-Blues-4-hex {
    color: #375D81;
}

.Bloggy-Gradient-Blues-5-hex {
    color: #183152;
}


body {
    margin: 2px;
    background-color: #F2F2F2;
    line-height: 1.8em;
    color: #E1E6FA;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav_bar_side {
    height: 100vh;
    width: 15vw;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    /* overflow-x: hidden; */
    background: #E1E6FA;
    color: #FFFAFA;
    padding: 15px;
}

.nav_bar_btn {
    width: 100%;
    height: 40px;
    border: none;
    margin-bottom: 10px;
    display: block;
    background-color: #183152;
    color: #FFFAFA;
    border-radius: 0px 20px 20px 0px;
}

.nav_bar_side ul {
    padding: 0;
    margin: 0;
    width: 100%;
    /* justify-content: start; */
    list-style: none outside;
    /* margin-left: auto; */
}