/* Color Theme Swatches in Hex */
.Bloggy-Gradient-Blues-1-hex {
    color: #E1E6FA;
}

.Bloggy-Gradient-Blues-2-hex {
    color: #C4D7ED;
}

.Bloggy-Gradient-Blues-3-hex {
    color: #ABC8E2;
}

.Bloggy-Gradient-Blues-4-hex {
    color: #375D81;
}

.Bloggy-Gradient-Blues-5-hex {
    color: #183152;
}


body {
    margin: 2px;
    background-color: #183152;
    line-height: 1.8em;
    color: #FFFAFA;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav_bar_side {
    height: 100vh;
    width: 15vw;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    /* overflow-x: hidden; */
    background: #183152;
    color: #FFFAFA;
    /* padding-left: 0; */
    padding: 5px;
    box-shadow: 0px 6px 6px #808080;
    border-radius: 0 10px 10px 0 ;
}

.nav_bar_btn {
    width: 100%;
    height: 35px;
    border: none;
    margin-bottom: 10px;
    display: block;
    background-color: #375D81;
    color: #FFFAFA;
    border-radius: 5px;
}

.nav_bar_side ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav_bar_side h1{
    text-align: center;
    padding-bottom: 20px;
    border-bottom: #375D81 2px solid;
}

