/* Color Theme Swatches in Hex */
.Bloggy-Gradient-Blues-1-hex {
    color: #E1E6FA;
}

.Bloggy-Gradient-Blues-2-hex {
    color: #C4D7ED;
}

.Bloggy-Gradient-Blues-3-hex {
    color: #ABC8E2;
}

.Bloggy-Gradient-Blues-4-hex {
    color: #375D81;
}

.Bloggy-Gradient-Blues-5-hex {
    color: #183152;
}

body {
    background-color: #F2F2F2;
    margin: 0;
    line-height: 1.8em;
    color: #E1E6FA;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    height: 500px;
    background: #FFF;
    background-image: url(../img/bg_image.svg);
    /* background-attachment:  */
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: right;
    /* padding: 5px; */
    box-shadow: 0px 3px 6px #808080;
}

.bold {
    font-weight: bolder;
}



nav {
    display: flex;
    /* margin:0 20px; */
    padding: 0 10px;
}

.main_logo {
    font-size: 2em;
    color: #183152;
}

ul {
    display: flex;
    overflow: hidden;
    list-style: none;
    font-size: 1.5em;
    margin-left: auto;
}

li {
    font-size: 0.7em;
    padding: 5px;
    margin-right: 14px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;

    /* margin: 5px; */
}

li .nav_btn {
    border: solid 2px #183152;
    font-weight: 600;
    height: 40px;
    overflow: hidden;
    justify-content: center;
    background: #FFFAFA;
    padding: 10px;
    margin-top: 4px;
    border-radius: 10px;
}

li .sign_in {
    background: #183152;
    color: #FFFAFA;
    border: solid 2px #FFFAFA;
}

.heading_block {
    width: 40%;
    /* position: absolute; */
    /* top: 30%; */
    /* left: 20%; */
    /* transform: translate(-50%, -50%); */
    text-align: center;
    margin: auto;
    line-height: 2.2em;
    font-weight: 300;
    margin-top: 40px;
}

.heading_text_primary {
    font-size: 1.7rem;
    margin: 0;
    font-weight: 800;
    color: #183152;
}

.heading_text_secondary {
    font-weight: 600;
    font-size: 1.3rem;
    color: #3E5067;
}

.primary_cta_btn {
    margin-top: 1rem;
    width: 150px;
    height: 50px;
    border: 2px solid #FFF;
    background-color: #183152;
    border-radius: 10px;
    color: #FFFAFA;
    font-size: large;
    font-weight: 700;
    transition: all 0.5s;
    cursor: pointer;
    overflow: hidden;
}

.primary_cta_btn:hover {
    border: 2px solid #183152;
    background-color: #FFFAFA;
    color: #183152;
    /* text-shadow: 0px 0px 6px rgba(255, 255, 255, 1); */

}

/* main {} */

.container{
    box-shadow: 0px 3px 6px #808080;
    padding: 20px;
}

.section_heading {
    color: #183152;
    text-transform: capitalize;
    margin: auto;
    padding: 30px;
    width: 50%;
    text-align: center;
    /* margin-bottom:  */
}

.steps_text {
    color: #183152;
}

.card_container {
    background: #F2F2F2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* grid-template-columns:50px 1fr; */
    grid-template-rows: 1fr;
    gap: 10px;
    justify-content: center;
    max-width: 1020px;
    margin: auto;
    /* box-shadow: 0px 3px 6px #808080; */

}

.card {
    background-color: #DEDEDE;
    /* clip-path: circle(25% at 0 0); */
    width: 290px;
    height: 320px;
    -moz-height: 320px;
    /* margin-top: 5px; */
    margin: 15px auto;
    border-radius: 5px;
    transition: all 0.6s;
    padding: 10px;
    color: #183152;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-align: center;
}

.features_card h1 {
    text-transform: uppercase;
    font-weight: 800;
}

.features_card:hover {
    background-color: #183152;
    color: #FFFAFA;
    transform: translateY(-0.8rem);
    overflow: hidden;
}

.card_picture {
    width: 100%;
    height: 40%;
    /* clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); */
    margin-bottom: 20px;
}

.fast_card .features_picture {
    background: url(../img/undraw_fast_loading.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.easy_card .features_picture {
    background: url(../img/undraw_happy_feeling.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.reliable_card .features_picture {
    background: url(../img/undraw_review.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.loan_option_btn {
    width: 200px;
    display: block;
    margin: auto;
}


/* Steps */
.steps_container {
    margin: 20px auto;
    justify-content: center;
}

.steps_main {
    margin-top: 20px;
}

.steps_info {
    align-content: center;
}

.steps_card {
    margin: 10px auto;
    color: #183152;
    /* box-shadow: 0px 6px 6px #808080; */
    /* background: #FFFAFA; */
    /* display:flex; */
    width: 40%;
    padding: 30px;
    text-align: center;
    /* justify-content: center; */
    padding: 10px;
    line-height: 2.5rem;
    border-radius: 5px;
    display: flex;
}

.steps_info button {
    display: block;
    cursor: pointer;
    margin: 4px auto;
}

.steps_info button:hover {
    background: #FFFAFA;
    color: #183152;
}

.steps_picture{
    width: 40%;
    height: 250px;
}


.steps_register .steps_picture{
    background: url(../img/undraw_Login.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.steps_login .steps_picture{
    background: url(../img/undraw_fill_forms.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.steps_request .steps_picture{
    background: url(../img/undraw_transfer_money.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.steps_text {
    width: 50%;
    text-align: center;
    margin: auto;
}

/* Reviews */
.reviews_container{
    background-color: #183152;
}

.reviews_container .section_heading{
    color: #FFF;
}

.reviews_container .card_container {
    background-color: #183152;
}

.reviews_container .card{
    background-color: #283F5E;
    color: #FFF;
}

.user_picture{
    background: url(../img/Userpic.png);
    margin: auto;
    border-radius: 50%;
    width: 40%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Footer */

footer {
    border-top: #183152 2px dotted;
    height: 10vh;
    margin: none;
    margin-top: 70px;
    color: #183152;
    text-align: center;
}


footer span {
    display: block;
    margin: 30px auto;
    font-weight: 900;
    font-size: 1.1rem;
}

 
@media(max-width: 480px){
    .heading_block{
        width: 70%;
        line-height: 1.8em;
    }

    .section_heading{
        width: 250px;
        margin: auto;
        display: block;
    }

    header{
        background-size: 350px;
        background-position: center;
    }

    nav{
        margin: 5px auto;
    }

    .main_logo{
        font-size: 1.5em;
    }

    .steps_card{
        display: block;
        width: 80%;
    }

    .steps_picture{
        width: 80%;
        margin: auto;

    }

    .steps_text{
        width: 100%;
        margin: 0 10px;
    }
}